<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>GetPrima</servlet-name>
        <servlet-class>abelymiguel.miralaprima.GetPrima</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMoza</servlet-name>
        <servlet-class>abelymiguel.miralaprima.GetMoza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetMoza</servlet-name>
        <servlet-class>abelymiguel.miralaprima.SetMoza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetHistory</servlet-name>
        <servlet-class>abelymiguel.miralaprima.GetHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPrima</servlet-name>
        <url-pattern>/GetPrima</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMoza</servlet-name>
        <url-pattern>/GetMoza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetMoza</servlet-name>
        <url-pattern>/SetMoza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetHistory</servlet-name>
        <url-pattern>/GetHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
